.texts{
    position: relative; 
}

.mainPicture{
    width: 100%;
    height: auto;
    display: block;
}

.dragAndResize1{
    top: 30px;
    position: absolute
}


.dragAndResize2{
    top: 160px;
    position: absolute;
}


.dragAndResize3{
    top: 290px;
    position: absolute;
}


.initialImage{
    height: 500px;
    border-radius: 15px;
    h3{
      font-family: 'Dancing Script', cursive;
      font-size: 22px;
      letter-spacing: 0.2px;
      word-spacing: 0.4px;
      color: #000000;
      font-weight: 700;
      font-style: normal;
      font-variant: small-caps;
      text-transform: none;
      text-align: center;
      margin-bottom: 5px;
      text-decoration: underline solid rgb(68, 68, 68);
  }
  }

.fontColor{
    display: flex;
    margin-left: 8px;
}

label{
    margin-left:10px;
}

.div  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 120px;
  border-radius: 10px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
  box-sizing: border-box;
}

.div:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.div:hover:before, .div:hover:after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 120px;
  border: 4px solid #FDA8CF;
  border-radius: 10px;
  animation: 1s clockwise infinite;
}

.div:hover:after {
  border: 4px solid #F3CE5E;
  animation: 2s counterclockwise infinite;
}

.Impact{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 1px 1px 5px #000000;
}

.Bangers{
  font-family: Bangers;
  text-shadow: 1px 1px 5px #000000;
}

.Alegreya{
  font-family: Alegreya;
  text-shadow: 1px 1px 5px #000000;
}

.Vollkorn{
  font-family: Vollkorn;
  text-shadow: 1px 1px 5px #000000;
}

.Cairo{
  font-family: Cairo;
  text-shadow: 1px 1px 5px #000000;
}

.Spectral{
  font-family: Spectral;
  text-shadow: 1px 1px 5px #000000;
}

.Arial{
  font-family: Arial;
  text-shadow: 1px 1px 5px #000000;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}