
textarea{
    -webkit-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 4px solid #FDA8CF;
}

.box{
    resize: none;
    height: 150px;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 5px;
    width:80%;
    border-radius:30px;
    transition:.2s all; 
  }
  .box-wrap:hover .box{
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
  }
  .box-wrap:hover .box:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  }

  #root > div > div.addText.box-wrap > div.textButton1{
      margin-left: 6%;
  }